@import "tailwindcss";

:root {
  --background: #151515;
  --foreground: #ffffff;
  --awatar-font: "Oswald", sans-serif;
  --awatar-font-two: "Roboto", sans-serif;
}

body .goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon,
.goog-logo-link {
  display: none !important;
}

#google_translate_element select {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  height: auto !important;
  font-size: 16px;
  color: #9ea1a2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  background: #0e1317;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html[lang="ar"] {
  direction: rtl;
  font-family: "Oswald", sans-serif
}

html[lang="en"] {
  direction: ltr;
  font-family: "Oswald", sans-serif
}
